.container-fluid {
    padding: 0;
    margin: 0;
}

.navbar-inverse {
    background-image: none;
    border: none;
    background-color: rgba(0,0,0,0.6);
}

.no-gutter {
    padding-right:0;
    padding-left:0;
}

.content {
    font-family: niveau-grotesk, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.5vw;
}

.heading {
    font-family: niveau-grotesk, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 5vw;
}

.navbar-heading {
    font-family: niveau-grotesk, sans-serif;
    font-style: normal;
    font-weight: 700;
}

.cover-img {
    background-image: url("D:/04 Personal/Studying Abroad/02 2017 Spring Semester/Cources/Coding Class/Week 1/assets/product/images/cover.jpg");

}

.full-img {
    padding: 0;
    width: 100vw;
    height: 56.25vw;
}

.cover-heading {
    font-size: 20vw;
    position: absolute;
    top: 13vw;
    left: 15vw;
    color: black;
}

.img-resize {
    width: 100vw;
    height: auto;
}