.navbar-inverse {
    background-image: none;
    border: none;
    background-color: rgba(0,0,0,0.6);
}

.no-gutter {
    padding-right:0;
    padding-left:0;
    margin:0;
}

.no-margin {
    margin: 0;
}

.increased-margin {
    margin-bottom: 1em;
}

.content {
    font-family: niveau-grotesk, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.5vw;
}

.heading {
    font-family: niveau-grotesk, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 5vw;
}

.navbar-heading {
    font-family: niveau-grotesk, sans-serif;
    font-style: normal;
    font-weight: 700;
}

.img-resize {
    width: 100vw;
    height: auto;
}

.cover-heading {
    font-size: 20vw;
    top: 13vw;
    position: absolute;
    color: white;
}

.video-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.center-text {
    text-align: center;
}

.center-text a {
    color: grey;
    font-size: 1.5vw;
}

.small-text {
    font-size: 1.5vw;
}