.content {
    width: 950px;
    margin: auto;
}

.header {
    width: 950px;
    margin: auto;
    padding: 10 0 0 0;
}

.sidebar {
    float: left;
    width: 100px;
    margin: 0;
}

.main {
    float: right;
    width: 800px;
    margin: 0;
}

h1 {
    color: #f4c71b; 
}

a {
    color: #b3b3b3;
    text-decoration: none;
}

.strikethrough {
    text-decoration: line-through;
}
/* I want to make the strikethrough thicker and colored yellow */

a:hover {
    text-decoration: underline;
    }

.byellow {
    background-color: yellow; 
    display: inline-block;
}

img[src$="Cover-01.png"] {
    max-width: 100%;
    height: auto ;
    margin-top: 50px;
}

img[src$="Cover-02.png"] {
    max-width: 100%;
    height: auto ;
    margin-top: 50px;
}