body {
    font-family: niveau-grotesk, sans-serif !important;
    font-style: normal;
    font-weight: 400;
}

.index-title {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 500;
}

.cover-01 p {
    position: absolute;
    top: 150;
    left: 800;
    font-size: 200;
}

.cover-01 img {
    height: 100%;
    float: right;
}

.cover-01 {
    position: relative;
    margin: auto;
}
/* cannot make the text and picture responsive to screen size change :( */

.cover-02 img{
    position: absolute;
    height: 100%;
}

.cover-02 p{
    position: absolute;
    top: 550;
    left: 200;
    font-size: 200;
}

.index-text {
    font-size: 16;
    list-style: none;
    position: absolute;
    top: 400;
    left: 820;
    border-left: 2px solid black;
    padding: 0 0 0 10;
}

.index-sm {
    font-size: 200;
    transform: rotate(90deg);
}

.content {
    width: 950px;
    margin: auto;
}

h1 {
    font-family: niveau-grotesk, sans-serif;
    font-style: normal;
    font-weight: 700 !important;
    color: #f4c71b !important;
}

.header {
    width: 950px;
    margin: auto;
    padding: 10 0 0 0;
}

.sidebar {
    float: left;
    width: 100px;
    margin: 0;
}

.main {
    float: right;
    width: 800px;
    margin: 0;
}

a {
    color: #b3b3b3;
    text-decoration: none;
}

.strikethrough {
    text-decoration: line-through;
}

a:hover {
    text-decoration: underline;
    }
/* override unsuccessful, need a separate class? */

.byellow {
    background-color: yellow; 
    display: inline-block;
}

.cover-01:hover .index-box{
    display: block;
}